.dashboard {
    margin-left: 5%;
    position: relative;
    
}

#chart {
    width: 60vw;
    height: 300px;
    margin-top: 20%
}

.dashboard #logOut {
    position: absolute;
    top: 5%;
    left: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: royalblue;
    color: #ffffff;
    font-size: 15px;
    font-weight: 900;
}


.dashboard #logOut:hover {
    background-color: slateblue;
}

.dashboard p {
   color: #85788f;
   width: 80%;
}

@media only screen and (max-width: 500px){
    .dashboard {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow-y: auto;
        width: 100%;
        margin: 0%;
        overflow-x: hidden!important;
        text-align: center;
    }

    .dashboard #logOut {
        left: 60%;
    }

    .dashboard h1 {
        text-align: center;
        margin-top: 30%;
        width: 100%;
    }

    .dashboard p {
        text-align: center;
        width: 90%;
    }

    #chart {
        width: 80vw;
        margin-top: 10%;
        margin-left: 5%;
    }
}